#gallery img {
	width: 25vw;
	height: auto;
}

#gallery img:hover {
	box-shadow: 10px 10px 20px #7a9eff, -10px -10px 20px #f8c6ff;
}

#gallery button:hover img {
	box-shadow: none;
}

.bildBox:hover .likeButton {
	display: block;
}


.likeButton {
	position: absolute;
	bottom: 5px;
	right: 5px;
	width: 36px;
	height: 36px;
	border: none;
	border-radius: 50%;
	display: none;
}

#view {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	backdrop-filter: blur(5px);
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
}

#imageview {
	max-width: 90vw;
	max-height: 90vh;
	height: auto;
	width: auto;
}

body {
	background: linear-gradient(to top, #fbc2eb, #a6c1ee);
	background-attachment: fixed;
}
